<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="ru">
<head>
    <div th:replace="fragments/header :: header-head"></div>
    <div th:replace="fragments/footer :: footer-head"></div>
    <title>An error occurred</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>An error occurred!</h1>
<b>
    [<span th:text="${status}">status</span>]
    <span th:text="${error}">error</span>
</b>
<p th:text="${message}">message</p>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>